.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;

    
    background: url('https://1.bp.blogspot.com/-Me6iXuyaD3I/XYnMsXHljWI/AAAAAAAAB1s/sYJypEwEt6EXQGeUVi_lOt2GFjil1tn4gCLcBGAsYHQ/s320/superman-logo-012.png');
    background-size: cover;
    
}
